@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');

:root{
  --prim-color: #F54B64;
  --prim-color-opac: #f54b64b1;
  --second-color: #282c34;
  --white: #FFFFFF;
  --error-color: #BF263C;
  --dark-grey: #4E586E;
}
.App {
  text-align: center;
  font-family: 'Outfit', sans-serif;
  background-color: var(--second-color);
  height: 600px;
  width: 1200px;
  border-radius: 16px ;
  box-shadow: 3px 3px var(--prim-color);
  margin: auto;
  margin-top: 30px;
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.App-header {
  height: 100%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
}

.App-header .userIcon{
  width: 85px;
  height: 85px;
  background-color: rgba(255, 255, 255, 0.603);
  border: 3px var(--prim-color-opac) solid;
  border-radius: 50%;
  cursor: pointer;
  transition: 500ms;
}

.App-header .userIcon:hover{
  background-color: rgb(255, 255, 255);
  border: 3px #F54B64 solid;
  border-radius: 50%;
  transform: scale(1.3);
}

.App-header .userIcon img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 50%;
  transition: 500ms;
}

.App-header .userIcon:hover img{
  opacity: 100%;
}

.App-footer{
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-footer .Footer-button{
  background-color: var(--prim-color);
  height: calc(100%/3);
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.App-footer .Footer-button span:last-child{
  font-size: 24px;
}

.App-footer .Footer-button:first-child{
  border-radius: 0 14px 0 0;
}

.App-footer .Footer-button:last-child{
  border-radius: 0 0 14px 0;
}

.App-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
  margin: 30px;
  width: 100%;
  align-items: flex-start;
  border: var(--white) 2.5px dashed;
  background-color: var(--dark-grey);
  text-align: left;
}

.App-body .todos{
  height: 100%;
  width: calc(100% - 60px);
  margin: 20px 0;
}

.App-body .todos .singleTask{
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px dashed var(--second-color);
  display: inline-flex;
  align-items: center;
  transition: 500ms;
}

.App-body .todos .singleTask .checkButton{
  background-color: var(--prim-color);
  height: 15px;
  margin-right: 6px;
}

.App-body .todos .singleTask:hover{
  background-color: var(--second-color);
}

.App-body .todos .singleTask .taskTitle{
  width: 100%;
}

.App-body .todos .singleTask .material-symbols-outlined{
  font-size: 25px;
  color: var(--error-color);
  text-shadow: var(--second-color) 1px 1px 1px;
  cursor: pointer;

}
.material-symbols-outlined {
  
  font-size: 45px;
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' -25,
  'opsz' 48
}